{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h4 class="text-center mb-4" style="font-weight: bold;">Iniciar Sesión</h4>
        <form method="post">
            <input type="text" name="usuario" placeholder="Usuario" required class="form-control mb-3">
            <input type="password" name="contraseña" placeholder="Contraseña" required class="form-control mb-3">

            <button class="btn btn-primary w-100 mb-3">Entrar</button>

            <div class="d-flex justify-content-end">
                <a href="{{ url_for('registro') }}" class="btn btn-outline-success btn-sm">Registrarse</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

