{% extends "base.html" %}
{% block title %}Registro{% endblock %} <!-- Título de la página -->
{% block content %}

<h2>Registro de Usuario</h2>
<form method="post">
    <input type="text" name="usuario" placeholder="Usuario" required class="form-control mb-2"><br>
    <input type="password" name="contraseña" placeholder="Contraseña" required class="form-control mb-2"><br>

    <button class="btn btn-success">Registrar</button>
</form><br>

<a href="{{ url_for('login') }}">Ya tengo cuenta</a>

{% endblock %} <!-- Fin del bloque de contenido -->